@import 'bootstrap/dist/css/bootstrap.css';
@import '../vendor/bstheme/bootstrap.css';
@import '../vendor/lineicons/lineicons.css';
@import '../vendor/wickedcss/wickedcss.min.css';
@import 'vars';

body {
    background-color: $body-color;
}

.bg-body-white {
    background-color: $body-color;
}

.bg-brand-dark {
    background-color: $brand-dark;
}

.text-brand-dark {
    color: $brand-dark;
}

.bg-brand-violet {
    background-color: $brand-violet;
}

.text-brand-violet {
    color: $brand-violet;
}

.bg-brand-pink {
    background-color: $brand-pink;
}

.text-brand-pink {
    color: $brand-pink;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: $brand-pink;
    border-color: $brand-pink;
}

.form-check-input:focus {
    box-shadow: 0 0 4px 4px $brand-pink;
    border-color: $brand-pink;
}

.page-item .active {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
}
